.components--form-domain {

  .prefix,
  .delimiter {
    font-weight: bold;
  }

  .basic-config {
    .form-groups-container { align-items: flex-end; }
    .form-groups-container .prefix {
      margin:  20px 15px;
      margin-left: 0;
    }
    .form-groups-container .delimiter { margin:  20px 10px; }
    .form-group { padding-bottom: 0.5rem; }
  }

  .advanced-config {
    .form-control-container--external-domain {
      display: flex;
      align-items: center;

      .prefix { padding: 0 15px; }
      .form-control--external-domain { flex: 1; }
    }
  }


  .ux--flat-form {

    .basic-config {
      .form-groups-container .prefix {
        line-height: 14px;
        margin-bottom: 0;
      }
      .form-groups-container .delimiter {
        line-height: 14px;
        margin: 0 15px;
      }
    }

    .advanced-config {
      .form-control-container--external-domain {
        align-items: flex-end;

        .prefix { line-height: 14px; }
      }
    }

  }

}
