.phone-calls {
  background-color: #333;
  color: #FFFFFF;

  .heading {
    font-size: .85rem;
    text-transform: uppercase;
    margin: 1.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    font-size: .8rem;
  }

  ul li {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: .5rem 1.5rem;
    padding-right: .8rem;
    justify-content: space-between;
    border-top: 1px solid #444;
  }

  ul li:last-child {
    border-bottom: 1px solid #444;
  }

  ul li .fa-phone-square,
  ul li .fa-phone {
    font-size: 1rem;
    margin-right: .5rem;
    position: relative;
    top: 1px;
  }

  ul li .fa-phone-square.success { color: #00C08A; }
  ul li .fa-phone.warning { color: #FFD500; }
  ul li .fa-phone-square.primary { color: #40B4E5; }
  ul li .fa-phone-square.danger { color: #DD2295; }

  ul li .call-item {
    display: flex;
  }

  .btn-call {
    border: none;
    color: #FFFFFF;
    background-color: transparent;
    border-radius: 2px;
    text-transform: uppercase;
    padding: .8rem 1rem;
    margin-left: 1rem;
    cursor: pointer;
    outline: none;
  }

  .btn-call.calling {
    background-color: #222;
  }

  .btn-call.primary {
    background-color: #40B4E5;
  }

  .btn-call.outlined {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    padding: calc(.8rem - 1px) calc(1rem - 1px);
  }

  .btn-call.full-width {
    width: 100%;
    margin: 0;
  }

  ul li .finish {
    display: flex;
    flex-direction: row;
    text-transform: none;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  ul li .fa-check-circle {
    font-size: 1.8rem;
    color: #00C08A;
    margin-left: .5rem;
  }

  ul li .fa-times-circle {
    font-size: 1.8rem;
    color: #DD2295;
    margin-left: .5rem;
  }

  ul li .inline-container {
    display: flex;
    text-transform: none;
    text-align: right;
    align-items: center;
  }

  ul li .inline-container .prefix {
    margin-right: .3rem;
  }

  ul li .inline-container .btn-call {
    margin: 0;
  }

  .caption {
    font-size: .7rem;
    font-weight: 300;
    text-transform: uppercase;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
  }

  .caption .item {
    padding-left: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    width: calc(50% - 1.5rem);
  }

  .caption .bullet {
    content: '';
    border-radius: 50%;
    width: 6px;
    height: 6px;
    margin-right: 1rem;
    background-color: #FFFFFF;
  }
  .caption .bullet.primary { background-color: #40B4E5; }
  .caption .bullet.success { background-color: #00C08A; }
  .caption .bullet.warning { background-color: #FFD500; }
  .caption .bullet.danger { background-color: #DD2295; }
}

@-webkit-keyframes ring {
  0%  { transform: rotate(-30deg); }
  3%  { transform: rotate(30deg); }
  6%  { transform: rotate(-30deg); }
  9%  { transform: rotate(30deg); }
  12% { transform: rotate(-30deg); }
  15% { transform: rotate(30deg); }
  18% { transform: rotate(-30deg); }
  21% { transform: rotate(30deg); }
  24% { transform: rotate(0deg); }
}
.ring {
  animation: ring 1s linear infinite alternate;
}
