.domain--preview {
  position: relative;
  background-color: #fff;
  padding: 25px 30px;
  margin: 0 0 10px;

  &.active {
    border: 1px solid green;
  }

  .circle {
    width: 37px;
    height: 37px;
    color: #fff;
    font-size: 19px;
    margin-right: 20px;
    background-color: red;

    i {
      padding: 10px;
    }

    &.checked {
      background-color: #7ed321;
    }
  }
  .menu--preview {
    position: absolute;
    right: 40px;
    font-size: 23px;
    margin-top: 10px;
    cursor: pointer;
  }
}

.data--preview {
  font-family: 'Source Sans Pro', 'Proxima Nova', sans-serif;

  label {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa;
  }
  p {
    font-size: 16px;
    margin: 5px 0 0;
    color: #000;
    line-height: 23px;
  }
}
