.domain--preview {
  position: relative;
  background-color: #fff;
  padding: 25px 30px;
  margin: 0 0 10px;

  &.active {
    border: 1px solid green;

    .body {
      text-decoration: underline;
    }
  }

  .circle {
    width: 37px;
    height: 37px;
    color: #fff;
    font-size: 19px;
    margin-right: 20px;
    background-color: red;

    i {
      padding: 9px 11px;
    }

    &.checked {
      background-color: #7ed321;
    }
  }
  .menu--preview {
    position: absolute;
    right: 40px;
    font-size: 23px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .body {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.data--preview {
  font-family: 'Source Sans Pro', 'Proxima Nova', sans-serif;

  .header {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa;
  }
  .body {
    font-size: 16px;
    margin: 5px 0 0;
    color: #000;
    line-height: 23px;

    p {
      margin: 0;
    }

    &.ns {
      ul {
        padding: 0;
      }
      li {
        list-style-type: none;
      }
    }
    &.soa {
      max-width: 350px;
    }
  }

  .ul--table {
    margin: 0;
    padding: 0;
    margin-left: -15px;
  }
  .li--table {
    display: inline-block;
    list-style-type: none;
    padding-left: 15px;
    vertical-align: top;
  }
}
