$blue             : #215d7a;
$aqua             : #2fbee6;
$darkGray         : #4a4a4a;
$darkenGray       : #222;
$gray20           : #333;
$gray94           : #eee;
$gray95           : #f2f2f2;
$lightGray        : #999999;
$lightestGray     : #ccc;
$silver           : #f7f7f7;
$pagenta          : #ff0099;
$lavenderPink     : #fca7da;
$darkenMediumBlue : #031092;
$atomic           : #364C55;
