$blue: #215D7A;
$aqua: #2FBEE6;
$gray: #364C55;
$darkGray: #4A4A4A;
$lightGray: #999999;
$silver: #F7F7F7;
$font-family: 'Proxima Nova', sans-serif;
$form-field-height: 3rem;
$link-color: $aqua;

@import '../../node_modules/basscss-sass/scss/align';
@import '../../node_modules/basscss-sass/scss/all';
@import '../../node_modules/basscss-sass/scss/background-colors';
@import '../../node_modules/basscss-sass/scss/background-images';
@import '../../node_modules/basscss-sass/scss/border-colors';
@import '../../node_modules/basscss-sass/scss/border';
@import '../../node_modules/basscss-sass/scss/btn-outline';
@import '../../node_modules/basscss-sass/scss/btn-primary';
@import '../../node_modules/basscss-sass/scss/btn';
@import '../../node_modules/basscss-sass/scss/colors';
@import '../../node_modules/basscss-sass/scss/darken';
@import '../../node_modules/basscss-sass/scss/flexbox';
@import '../../node_modules/basscss-sass/scss/forms';
@import '../../node_modules/basscss-sass/scss/grid';
@import '../../node_modules/basscss-sass/scss/hide';
@import '../../node_modules/basscss-sass/scss/highlight-dark';
@import '../../node_modules/basscss-sass/scss/highlight';
@import '../../node_modules/basscss-sass/scss/input-range';
@import '../../node_modules/basscss-sass/scss/layout';
@import '../../node_modules/basscss-sass/scss/lighten';
@import '../../node_modules/basscss-sass/scss/margin';
@import '../../node_modules/basscss-sass/scss/media-object';
@import '../../node_modules/basscss-sass/scss/padding';
@import '../../node_modules/basscss-sass/scss/position';
@import '../../node_modules/basscss-sass/scss/progress';
@import '../../node_modules/basscss-sass/scss/responsive-margin';
@import '../../node_modules/basscss-sass/scss/responsive-padding';
@import '../../node_modules/basscss-sass/scss/type-scale';
@import '../../node_modules/basscss-sass/scss/typography';

.caps { letter-spacing: 0; }
form .button { height: 3rem; }

.field-light:invalid:focus { border-color: $blue; }
.field-light.has-error { border-color: $red !important; }
.button.is-disabled, .button:disabled { opacity: .25; }

.hover {
  opacity: 0.8;
}

.hover:hover {
  opacity: 1;
}

// ESTILO DOS BOTÕES DE MENU

.button-menu{
font-weight:lighter;
display:block;
padding:0px;
padding:.5em 2em;
border-left: 3px solid rgba(0,0,0,0);
box-sizing: border-box;
}

.button-menu:hover{
	text-decoration:none;
	border-left:3px solid #20BDE9;
}
.button.col.is-active{
background-color:#CAEFF2;
}

// DÁ EFEITO EM BOTÕES COM IMAGEM

.widget a img{
transition: .1s ease-in-out;

}
.widget a img:hover{
transform: scale(1.01);
box-shadow: 0px 0px 15px rgba(0,0,0,.4)
}
