@font-face {
  font-family: "BrushUp";
  src: url("../fonts/BrushUp.woff") format("woff");
}

@font-face {
  font-family: "Proxima Nova Soft";
  src: url("../fonts/ProximaNovaSoftRegular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Proxima Nova Soft";
  src: url("../fonts/ProximaNovaSoftBold.woff") format("woff");
  font-weight: bold;
}
