@import './basscss_and_override';
@import './fonts.scss';
@import './animations.scss';
@import './wysihtml5.scss';
@import './color_schemes/meurio.scss';
@import './color_schemes/minhasampa.scss';
@import './font_sets/brush_up.scss';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $silver;
}

textarea {
  resize: none;
}
