@import './basscss_and_override';
@import './fonts.scss';
@import './animations.scss';
@import './wysihtml5.scss';
@import './color_schemes/meurio.scss';
@import './color_schemes/minhasampa.scss';
@import './color_schemes/minhaportoalegre.scss';
@import './color_schemes/meurecife.scss';
@import './color_schemes/minhablumenau.scss';
@import './color_schemes/minhacampinas.scss';
@import './color_schemes/minhacuritiba.scss';
@import './color_schemes/minhagaropaba.scss';
@import './color_schemes/minhaouropreto.scss';
@import './color_schemes/nossascidades.scss';
@import './color_schemes/nuestrasciudades.scss';
@import './color_schemes/ourcities.scss';
@import './font_sets/armata.scss';
@import './font_sets/arvo.scss';
@import './font_sets/dosis.scss';
@import './font_sets/glegoo.scss';
@import './font_sets/lato.scss';
@import './font_sets/merriweather.scss';
@import './font_sets/merriweather_sans.scss';
@import './font_sets/open_sans.scss';
@import './font_sets/oswald.scss';
@import './font_sets/proxima_nova.scss';
@import './font_sets/pfdin.scss';
@import './font_sets/pt_mono.scss';
@import './font_sets/ubuntu.scss';
@import './../scripts/pages/Login/login.scss';
@import './../scripts/components/TopMenu/top_menu.scss';
@import './../scripts/components/DonationWidget/donation_widget.scss';
@import './../scripts/components/Editor/color-picker.scss';

body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $silver;
}

textarea {
  resize: none;
}
