{
  "presets": ["es2015", "react", "stage-0"],
  "plugins": [
    "transform-decorators-legacy",
    ["module-resolver", {
      "alias": {
        "~node_modules": "./node_modules",
        "~common": "./common",
        "~server": "./server",
        "~routes": "./routes",
        "~tools": "./tools",
        "~client": "./client",
        "~account": "./client/account",
        "~components": "./client/components",
        "~community": "./client/community",
        "~dashboard": "./client/dashboard",
        "~mobilizations": "./client/mobilizations",
        "~utils": "./client/utils",
        "~widget-plugins": "./client/mobilizations/widgets/__plugins__",
        "~tmp-dashboard": "./client/dashboard"
      }
    }]
  ],
  "env": {
    "test": {
      "presets": ["react-optimize"],
      "plugins": [
        ["webpack-loaders", {
          "config": "./tools/webpack.test.config.js",
          "verbose": false
        }],
        "transform-react-stateless-component-name",
        "istanbul",
      ]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
