{
  "presets": [
    "env",
    "stage-2",
    "react"
  ],
  "plugins": [
    "transform-function-bind",
    "transform-decorators-legacy",
    ["module-resolver", {
      "alias": {
        "~client": "./client",
        "~images": "./client/images",
        "~mobilizations": "./client/mobilizations",
        "~mobrender": "./client/mobrender",
        "~styles": "./client/styles",
        "~utils": "./client/utils",
        "~widget-plugins": "./client/mobilizations/widgets/__plugins__",
        "~routes": "./routes",
        "~server": "./server",
        "~tools": "./tools"
      }
    }]
  ],
  "env": {
    "test": {
      "presets": ["react-optimize"],
      "plugins": [
        ["webpack-loaders", {
          "config": "./tools/webpack.test.config.js",
          "verbose": false
        }],
        "transform-react-stateless-component-name",
        "istanbul",
      ]
    },
    "production": {
      "presets": ["react-optimize"]
    }
  }
}
