{
  "extends": "standard",
  "globals": {
      "xit": true,
      "it": true,
      "describe": true,
      "expect": true,
      "afterAll": true,
      "beforeAll": true,
      "beforeEach": true,
      "before": true,
      "after": true,
      "afterEach": true,
      "Blob": true,
      "wysihtml5": true,
      "wysihtml5ParserRules": true,
      "PagarMeCheckout": true,
      "confirm": true
  }
}
