{
  "root": true,
  "overrides": [
    {
      "files": ["**/*.ts", "**/*.tsx"],
      "env": {
        "jest": true,
        "node": true,
        "es6": true
      },
      "parser": "@typescript-eslint/parser",
      "parserOptions": {
        "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
        "sourceType": "module", // Allows for the use of imports
        "ecmaFeatures": {
          "jsx": true, // Allows for the parsing of JSX
          "tsx": true
        },
        "project": "./tsconfig.json",
        "tsconfigRootDir": "."
      },
      "plugins": ["react-hooks", "jest", "@typescript-eslint"],
      "extends": [
        "plugin:@typescript-eslint/recommended", // Uses the recommended rules from the @typescript-eslint/eslint-plugin
        "plugin:react/recommended", // Uses the recommended rules from @eslint-plugin-react
        "prettier/@typescript-eslint", // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
        "plugin:prettier/recommended" // Enables eslint-plugin-prettier and eslint-config-prettier. This will display prettier errors as ESLint errors. Make sure this is always the last configuration in the extends array.
        // "plugin:import/typescript"
      ],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/camelcase": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-unused-vars": [
          "error",
          {
            "argsIgnorePattern": "^_",
            "varsIgnorePattern": "^_"
          }
        ],
        "no-underscore-dangle": "off",
        "react/display-name": "off",
        "@typescript-eslint/ban-ts-ignore": "off"
      }
    }
  ],
  "settings": {
    "packageManager": "pnpm",
    "react": {
      "version": "detect" // Tells eslint-plugin-react to automatically detect the version of React to use
    }
  }
}
