[submodule "clients/libs/components"]
	path = clients/libs/components
	url = https://github.com/nossas/bonde-components
[submodule "clients/libs/core-tools"]
	path = clients/libs/core-tools
	url = https://github.com/nossas/bonde-core-tools
[submodule "apis/api-graphql"]
	path = apis/api-graphql
	url = https://github.com/nossas/bonde-apis
[submodule "apis/api-rest"]
	path = apis/api-rest
	url = https://github.com/nossas/bonde-server
[submodule "apis/api-graphql-deprecated"]
	path = apis/api-graphql-deprecated
	url = https://github.com/nossas/bonde-graphql.git
[submodule "webhooks/redirect"]
	path = webhooks/redirect
	url = https://github.com/nossas/bonde-redirect
[submodule "webhooks/redes"]
	path = webhooks/redes
	url = https://github.com/nossas/bonde-redes
[submodule "webhooks/chatbot"]
	path = webhooks/chatbot
	url = https://github.com/nossas/bonde-chatbot
[submodule "webhooks/phone"]
	path = webhooks/phone
	url = https://github.com/nossas/bonde-phone
[submodule "webhooks/mapa-do-acolhimento"]
	path = webhooks/mapa-do-acolhimento
	url = https://github.com/nossas/mapa-do-acolhimento
[submodule "infra"]
	path = infra
	url = https://github.com/nossas/bonde-install
[submodule "manual"]
	path = manual
	url = https://github.com/nossas/manual-tech
[submodule "workers"]
	path = workers
	url = https://github.com/nossas/bonde-workers
