@import '../../../../../node_modules/basscss-sass/scss/colors';

.new-mobilization-header {
  .list-reset {
    font-size: .98rem;

    .circle {
      width: 28px;
      height: 28px;
      line-height: 28px;
      color: $white;
      font-weight: bold;
      font-style: normal;
      font-size: .9rem;
    }
  }
}
