.mobilization-launch--form-share .facebook-share-image {
  width: 40% !important;
  padding: 0 !important;
  padding-right: 1rem !important;
}

.mobilization-launch--form-share .facebook-share-image .upload-image-file {
  margin-top: 1rem;
  text-align: center;
}

.mobilization-launch--form-share .facebook-share-image .upload-image-file button {
  background-color: #eee;
  color: #fff;
  width: 120px;
  height: 120px;
}

.mobilization-launch--form-share .facebook-share-title-container {
  width: 60% !important;
  padding: 0 !important;
  padding-left: 1rem !important;
}

.mobilization-launch--form-share .facebook-share-title {
  padding-bottom: 2rem !important;
}
