.routes--subscription-edit-page .link--cancel {
  margin-bottom: -.5rem;
}

.routes--subscription-edit-page .link a {
  font-weight: normal;
  text-decoration: none;
  cursor: pointer;
}
.routes--subscription-edit-page .link a::after {
  height: 1px;
}

.routes--subscription-edit-page {}

.routes--subscription-edit-page .section--choose-type {
  background-color: #fff;
  padding: 2rem;
  width: 500px;
  font-size: 0.875rem;
}

.routes--subscription-edit-page .paragraph--helper-text {
  text-align: center;
  color: #999;
}

.routes--subscription-edit-page .container--tab-buttons {
  text-align: center;
  margin-top: 24px;
}
.routes--subscription-edit-page .button {
  /* Inherted from basscss .btn class */
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: 0.5rem 1rem;
  margin: 0;
  height: auto;
  border: 1px solid transparent;
  vertical-align: middle;
  -webkit-appearance: none;
  color: inherit;
  background-color: transparent;
  /* Customization */
  position: relative;
  margin-right: 2rem;
  padding: 1rem 2rem;
  outline: none;
  background-color: #eee;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-property: color;
  transition-duration: 0.5s;
}
.routes--subscription-edit-page .button:last-of-type {
  margin-right: 0;
}
.routes--subscription-edit-page .button:hover,
.routes--subscription-edit-page .button:active,
.routes--subscription-edit-page .button:focus {
  background-color: #ddd;
}
.routes--subscription-edit-page .button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.routes--subscription-edit-page .button.active {
  background-color: #ddd;
  color: white;
}
.routes--subscription-edit-page .button.active:before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

/**
 * CSSTransitionGroup: CreditCard
 */
.transition--form-creditcard-enter {
  opacity: 0.01;
  max-height: 0;

  &.transition--form-creditcard-enter-active {
    opacity: 1;
    max-height: 557px;
    transition: all 1s cubic-bezier(.4,0,0,1);
  }
}

.transition--form-creditcard-leave {
  opacity: 1;
  max-height: 557px;

  &.transition--form-creditcard-leave-active {
    opacity: 0.01;
    max-height: 0;
    transition: all 1s cubic-bezier(.4,0,0,1);
  }
}

/**
 * CSSTransitionGroup: Recurring
 */
.transition--form-recurring-enter {
  opacity: 0.01;
  max-height: 0;

  &.transition--form-recurring-enter-active {
    opacity: 1;
    max-height: 302px;
    transition: all 1s cubic-bezier(.4,0,0,1);
  }
}

.transition--form-recurring-leave {
  opacity: 1;
  max-height: 302px;

  &.transition--form-recurring-leave-active {
    opacity: 0.01;
    max-height: 0;
    transition: all 1s cubic-bezier(.4,0,0,1);
  }
}

//
// Mobile
//
@media (max-width: 40em) {
  .routes--subscription-edit-page .section--choose-type {
    width: inherit;
  }

  .routes--subscription-edit-page .button {
    width: 100%;
    margin-top: .5rem;
  }
  .routes--subscription-edit-page .button:first-of-type {
    margin-top: 0;
  }

  .routes--subscription-edit-page .ux--flat-form {
    padding-left: 0;
    padding-right: 0;
  }
  .routes--subscription-edit-page .ux--flat-form .ux--button {
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
  }

  .transition--form-creditcard-enter.transition--form-creditcard-enter-active,
  .transition--form-creditcard-leave {
    max-height: 578px;
  }
  .transition--form-recurring-enter.transition--form-recurring-enter-active,
  .transition--form-recurring-leave {
    max-height: 323px;
  }
}
