.meurio-scheme .widget {
  color: #444;
}

.meurio-scheme .widget a {
  color: #119146
}

.meurio-scheme .widget .button {
  color: white;
  background-color: #119146;
}

.meurio-scheme .bg-primary {
  background-color: #119146;
  color: white;
}

.meurio-scheme .bg-secondary {
  background-color: #546672;
  color: white;
}
