:local {
  .container {
    border-radius: 3px;
    background-color: #666;
  }
  .header {
    background-color: rgba(255,255,255,.2);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: .7rem .7rem .5rem;
    line-height: 1;
    font-size: .9rem;
  }
  .content {
    color: #fff;
    padding: 0 .7rem;
    text-align: center;
    font-size: 3vw;
    margin-bottom: -.2rem;
  }
  .footer {
    color: #fff;
    padding: .5rem .7rem .7rem;
    background-color: rgba(0,0,0,.1);
    font-size: .8rem;
    line-height: 1.3;
  }
}
