@import '../../styles/color-variables';

.empty-list {
  color: $gray20;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.9rem;
  margin-top: 40px;

  .geometrics-container {
    margin-bottom: 50px;

    .square,
    .diamond,
    .circle {
      display: inline-block;
      width: 110px;
      height: 110px;
      background-color: rgba(0, 0, 0, .028);
      position: relative;
      vertical-align: middle;
    }

    .square { left: 20px }
    .diamond { transform: rotate(45deg) }
    .circle {
      right: 35px;
      width: 120px;
      height: 120px;
    }
  }
}
