.topMenu {
  background-color: #304047;
  height: 50px;
}

.lightGray {
  color: $lightGray;
}

.reboo-logo {
  background: url('./../scripts/components/TopMenu/reboo-logo-topbar.png') no-repeat 0 0;
  height: 100%;
  width: 100%;
}
