.mobilization-launch-end .ux--button {
  width: 500px;
  margin-left: -2rem;
  margin-right: -2rem;
}

.mobilization-launch-end .heading {
  font-size: 0.875rem;
  color: #999;
  margin: 0;
  line-height: 1.29;
}

.mobilization-launch-end .image {
  width: 255px;
  height: 255px;
  background-color: #333;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem auto;
  border-radius: 50%;
}
