@import '../../../styles/color-variables';

.form-redux {
  input[type="submit"], button[type="submit"] {
    font-size: 1.1rem;
  }

  div.floatTopRight {
    position: fixed;
    top: 2rem;
    right: 4rem;
    text-align: right;
  }
  div.floatTopLeft {
    position: fixed;
    top: 2rem;
    left: 4rem;
    text-align: left;
  }

  .upload-image-file input[type="file"] {
    position: absolute;
    visibility: hidden;
  }

  .upload-image-file input[type="file"] {
    position: absolute;
    visibility: hidden;
  }

  .upload-image-file button {
    width: 69px;
    height: 69px;
    font-size: 35px;
    color: #ececec;
    background-color: white;
    border: 0;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
  }

  .upload-image-file button img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }

  label {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
  }

  &.transparent {
    .form-group {
      border: none;
      padding-left: 0;
      padding-right: 0;

      &, .input-tag {
        & > label {
          color: $darkenGray;
          margin-bottom: 1rem;
          display: block;
        }
      }

      .input,
      .textarea,
      .select {
        border: 1px solid $gray94;
        border-radius: 2px;
      }

      .input,
      .textarea {
        padding: 1rem;
      }

      .select {
        height: 50px;
        padding: 0 1rem;
      }
    }
  }

  &.btn-float {
    input[type="submit"] {
      position: fixed;
      top: 2rem;
      right: 4rem;
      width: inherit;
      text-transform: uppercase;
      margin: 0;
      padding: .7rem 2rem;
    }
  }

  .form-group {
    .form-horizontal-layout {
      .form-group {
        padding: 0;
      }
    }
  }

  .form-radio {
    margin: 0;
  }

  .control-buttons {
    .success-message {
      position: fixed;
      top: 5rem;
      right: 4rem;
      width: inherit;
      margin: 0;
      padding: 0;
      font-size: .75rem;
      font-weight: 600;
      text-transform: uppercase;

      i.fa {
        margin-left: .3rem;
        font-size: .75rem;
      }
    }
  }

  // addon
  .input-group {
    position: relative;
    display: table;
    border-collapse: separate;

    .form-control-input-addon {
      position: relative;
      z-index: 2;
      float: left;
      width: 100%;
      margin-bottom: 0;
    }

    .text-addon:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    .text-addon {
      padding: 6px 12px;
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      color: #555;
      text-align: center;
      background-color: #eee;
      border: 1px solid #eee;
      border-radius: 2px;
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      display: table-cell;
    }
  }
}
