@import '../../../styles/color-variables';

.bg-reboo {
  background-image: url('../assets/bg-login.png');
  color: $darkGray;
  overflow: auto;

  h1 {
    font-size: 36px;
    line-height: 1.25;
    text-align: center;
    color: white;
  }

  h2 {
    font-size: 22px;
    line-height: 1.25;
    text-align: center;
    color: white;
  }

  a {
    font-weight: 600;
    color: white;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  form {

    .form-group {
      padding: 10px;
      padding: 10px 20px;
      border-bottom: 1px solid #eee!important;
    }
    .flex {
      .form-group:not(:last-child) {
        border-right: 1px solid #eee;
      }
    }
    .control-label {
      display: block;
      font-weight: 600;
      font-size: 12px;
      color: #aaa;
    }
    .form-control {
      display: block;
      width: 100%;
      border: none;
      height: 20px;
    }
  }

  .ListItem {
    padding: 1rem;
    border-top: 1px solid #ccc;
  }

  .ListItem:first-child {
    border-top: none;
  }

  .ListItem img {
    width: 42px;
    height: 42px;
    border-radius: 40px;
  }

  .ListItem p {
    vertical-align: middle;
  }
}
