.reboo-editor {
  .editor {
    position: relative;
    z-index: 2;
  }

  .toolbar-container {
    display: block;
    width: 100%;
    background-color: red;
  }

  .outside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }

  // Align editor content
  .alignment--left {
    text-align: left;
  }
  .alignment--center {
    text-align: center;
  }
  .alignment--right {
    text-align: right;
  }
}
