@import '../../../../../../node_modules/basscss-sass/scss/darken';
@import '../_variables';

.list {
  .item {
    cursor: pointer;
    box-shadow: 0 0 0 $darken-3;
    transition: box-shadow .2s ease;
    
    &:hover { 
      opacity: 1;
      position: relative;
      box-shadow: 0 0 10px $darken-3;
    }

    .created-at,
    .users,
    .fund-raising {
      line-height: $avatarHeight;
    }
  }

  .item-header {
    font-size: .75rem;
    font-weight: 600;

    .item-header-avatar {
      width: $avatarWidth;
      height: 1px;
    }

    .item-header-more {
      font-size: 1.5rem;
      height: 1px;
      visibility: hidden;
    }
  }
}
