@import '../../../../styles/color-variables';

.widget-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-weight: bold;
  border-width: 6px;
  opacity: .82;
  background-color: $darkenGray;
  font-size: 1.8rem;
}
