@import '../_mobilization-list-variables';

.mobilization-list {
  .mobilization-list-item-header {
    font-size: .75rem;
    font-weight: 600;

    .list-item-header-avatar {
      width: $avatarWidth;
      height: 1px;
    }

    .list-item-header-more {
      font-size: 1.5rem;
      height: 1px;
      visibility: hidden;
    }
  }
}
