.form--dns-record {

  .fields--dns-record {
    background-color: #fff;
    padding: 20px 30px;
    margin-bottom: 10px;
  }

  .subdomain--field > * {
    float: left;
  }

  .col {
    padding-right: 5px;
  }
  .col:nth-child(3) {
    padding-right: 0;
  }

  button {
    float: right;
  }
}
