.domain-preview {
  position: relative;

  .circle {
    border-radius: 90px;
    background-color: #7ed321;
    padding: 12px 16px;
    color: #fff;
    font-size: 19px;
    margin-right: 20px;
  }
  .edit {
    position: absolute;
    right: 0;
    font-size: 23px;
    margin-top: 10px;
  }
}

.domain-data {
  font-family: 'Source Sans Pro', 'Proxima Nova', sans-serif;

  label {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #aaa;
  }
  p {
    font-size: 16px;
    margin: 5px 0 0;
    color: #000;
    line-height: 23px;
  }
}
