$bgTopMenu: #304047;

.topMenu {
  height: 50px;
}

.bg-topMenu {
  background-color: $bgTopMenu;
}

.lightGray {
  color: $lightGray;
}

.reboo-logo {
  background: url('./../scripts/components/TopMenu/nossascidades-logo-topbar.png') no-repeat 0 0;
  height: 100%;
  width: 100%;
  background-size: 50px auto;
}
