.button-preview {
  font-family: 'Source Sans Pro', 'Proxima Nova', sans-serif;
  position: relative;
  background-color: #fff;
  padding: 10px 15px;
  cursor: pointer;
  margin: 0 0 10px;
  display: flex;
  align-items: center;

  .circle {
    width: 28px;
    height: 28px;
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    i:before {
      vertical-align: middle;
      position: relative;
      top: 1px;
    }
  }
  &:hover > p {
    text-decoration: underline;
  }
  & > p {
    font-size: 16px;
    margin: 5px 0 0;
    color: #000;
    line-height: 23px;
  }
}
