/* .btn {
  color: '#fff';
  background-color: '#000';
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius: 3px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  cursor: pointer;
  display: inline-block;
  line-height: 1.125rem;
  padding: 1rem;
  margin: 0;
  height: auto;
  border: '1px solid transparent';
  vertical-align: middle;
  -webkit-appearance: none;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
} */
a.ux--button {
  text-align: center;
}
.disabled {
  background-color: #f2f2f2!important;
}
