.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  padding: 20px 30px;
  box-shadow: 2px 2px 2px #c7c7c7;

  .footer--dialog button:nth-child(2) {
    margin-left: 15px;
    background-color: #c7c7c7;
  }
}
