.dropdown--menu {
  position: relative;
  display: inline-block;

  .dropdown--content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;

    &.inline {
      display: block;
      position: relative;
      box-shadow: none;
      background-color: #fff;
      min-width: initial;

      .dropdown--item {
        display: inline-block;
        margin-left: 10px;

        span {
          display: none;
        }
      }
    }

    .dropdown--item {
      padding: 12px 16px;
      font-size: 16px;
      transition: background-color .2s;

      &:hover {
        background-color: #efefef;
      }
      span {
        margin-left: 10px;
      }
    }
  }
  &:hover {
    .dropdown--content {
      display: block;
    }
  }
}
