.new-block-page {
  .block-type {
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
  }

  .new-block-button {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.1rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
  }
}
