.stepsContainer {
  background: #FFFFFF;
  text-align: center;
}

.stepsTitle {
  color: #222222 !important;
  line-height: 1.5 !important;
  font-size: 1.7em !important;
  margin: 0 0 -30px !important;
  padding: 2rem 0 1.8rem;
  font-weight: bold;
  border-bottom: 1px solid #EFEFEF;
}

.successMessageContainer {
  width: 500px;
  color: #333333;
  padding: 0 2rem 3rem;
}

.h1 {
  color: #333333 !important;
}

.successIcon {
  -webkit-mask-image: url('../../../images/thin-circular-check.svg');
  mask-image: url('./../../../images/thin-circular-check.svg');
  -webkit-mask-size: 150px;
  mask-size: 150px;
  width: 150px;
  height: 150px;
  background-color: #00C08A;
  display: inline-block;
  margin-bottom: 1.6rem;
}
