@import '../../../../styles/color-variables';

.form-redux {
  input[type="submit"] {
    font-size: 1.1rem;
    padding: .7rem 1.6rem;
  }

  div.floatTopRight {
    position: fixed;
    top: 2rem;
    right: 4rem;
    text-align: right;
  }
  div.floatTopLeft {
    position: fixed;
    top: 2rem;
    left: 4rem;
    text-align: left;
  }

  .uploadImageFile input[type="file"] {
    position: absolute;
    visibility: hidden;
  }

  .uploadImageFile button {
    width: 69px;
    height: 69px;
    font-size: 35px;
    color: #ececec;
    background-color: white;
    border: 0;
    cursor: pointer;
    border-radius: 45px;
  }
  .uploadImageFile button img {
    width: 60px;
    height: 60px;
    border-radius: 45px;
  }

  .uploadImageFile input[type="file"] {
    position: absolute;
    visibility: hidden;
  }

  .uploadImageFile button {
    width: 69px;
    height: 69px;
    font-size: 35px;
    color: #ececec;
    background-color: white;
    border: 0;
    cursor: pointer;
    border-radius: 45px;
  }
  .uploadImageFile button img {
    width: 60px;
    height: 60px;
    border-radius: 45px;
  }

  label {
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
  }

  &.transparent {
    .form-group {
      border: none;
      padding-left: 0;
      padding-right: 0;

      &, .input-tag {
        & > label {
          color: $darkenGray;
          margin-bottom: 1rem;
          display: block;
        }
      }

      .input,
      .textarea,
      .select {
        border: 1px solid $gray94;
        border-radius: 2px;
      }

      .input,
      .textarea {
        padding: 1rem;
      }

      .select {
        height: 50px;
        padding: 0 1rem;
      }
    }
  }

  &.btn-float {
    input[type="submit"] {
      position: fixed;
      top: 2rem;
      right: 4rem;
      width: inherit;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .form-group {
    .form-horizontal-layout {
      .form-group {
        padding: 0;
      }
    }
  }

  .form-radio {
    margin: 0;
  }

  .control-buttons {
    .success-message {
      position: fixed;
      top: 5rem;
      right: 4rem;
      width: inherit;
      margin: 0;
      padding: 0;
      font-size: .75rem;
      font-weight: 600;
      text-transform: uppercase;

      i.fa {
        margin-left: .3rem;
        font-size: .75rem;
      }
    }
  }
}
