@import '../../../styles/color-variables';

.bg-reboo {
  background-image: url('../assets/bg-login.png');
  color: $darkGray;

  h1 {
    font-weight: 300;
    font-size: 36px;
    line-height: 1.25;
    text-align: center;
    color: white;
  }

  form {

    .form-group {
      padding: 10px;
      padding: 10px 20px;
      border-bottom: 1px solid #eee!important;
    }
    .flex {
      .form-group:not(:last-child) {
        border-right: 1px solid #eee;
      }
    }
    .control-label {
      display: block;
      font-weight: 600;
      font-size: 12px;
      color: #aaa;
    }
    .form-control {
      display: block;
      width: 100%;
      border: none;
      height: 20px;
    }
  }
}
