@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.BondeToastify .Toastify__toast {
	padding: 15px;
}
.BondeToastify .Toastify__toast.Toastify__toast--success {
	background-color: #50e3c2;
}
.BondeToastify .Toastify__toast .Toastify__toast-body {
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: white;
}