.float {
  position: fixed;

  &.top {
    top: 2rem;
  }

  &.bottom {
    bottom: 2rem;
  }

  &.right {
    right: 4rem;
    text-align: right;
  }

  &.left {
    left: 4rem;
    text-align: left;
  }
}
