:local {
  .multiselectField :global .Select .Select-input {
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .multiselectField :global .Select .Select-input input {
    height: 20px;
    margin-top: 0 !important;
  }

  .multiselectField :global .Select .Select-control {
    height: 30px;
  }

  .multiselectField :global .Select .Select-control .Select-multi-value-wrapper {
    display: block;
    padding-bottom: 22px;
    padding-top: 1rem;
  }

  .multiselectField :global .Select .Select-control .Select-multi-value-wrapper .Select-value {
    display: inline-block;
    line-height: 1;
    color: #fff;
    margin-right: .5rem;
    margin-bottom: .5rem;
  }

  .multiselectField :global .Select .Select-control .Select-multi-value-wrapper .Select-value-label {
    padding: 6px 15px 6px 7px;
    background-color: #ff0099;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: inline-block;
  }

  .multiselectField :global .Select .Select-control .Select-multi-value-wrapper .Select-value-icon {
    padding: 6px 10px;
    cursor: pointer;
    background-color: #ff0099;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display: inline-block;
  }
  .multiselectField :global .Select .Select-control .Select-multi-value-wrapper .Select-value-icon:hover {
    background-color: #d80081;
  }

  .multiselectField :global .Select .Select-control .Select-placeholder {
    color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .multiselectField :global .Select .Select-control > .Select-aria-only {
    display: none;
  }

  .multiselectField :global .Select.Select--multi.has-value .Select-multi-value-wrapper {
    padding-bottom: 0;
  }
  .multiselectField :global .Select.Select--multi.is-focused.has-value .Select-multi-value-wrapper {
    padding-bottom: 22px;
  }
}
