.domain--step {
  font-family: 'Source Sans Pro', 'Proxima Nova', sans-serif;
  background-color: #fff;
  margin-bottom: 20px;

  .header--step {
    border-bottom: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
    padding: 22px 30px;

    .circle {
      width: 37px;
      height: 37px;

      &.valid {
        background-color: #7ed321;
      }

      p, i {
        margin: 0;
        padding: 6px 15px;
        font-weight: 600;
        color: #fff;
      }

      i {
        padding: 10px;
      }
    }

    h2 {
      font-size: 24px;
      font-weight: 600;
      margin: 0 28px;
    }
  }

  .content--step {
    padding: 30px;
  }
}
