@import '../../../../../../../node_modules/basscss-sass/scss/darken';
@import '../../_mobilization-list-variables';

.mobilization-list {
  .mobilization-list-item {
    cursor: pointer;
    box-shadow: 0 0 0 $darken-3;
    transition: box-shadow .2s ease;

    &.hover { opacity: 1 }

    &:hover {
      z-index: 1;
      position: relative;
      box-shadow: 0 0 10px $darken-3;
    }

    .list-item-created-at,
    .list-item-users,
    .list-item-fund-raising {
      line-height: $avatarHeight;
    }
  }
}
