@import '../../../../styles/color-variables';

.form-redux {
  input[type="submit"] {
    font-size: 1.1rem;
    padding: .7rem 1.6rem;
  }

  &.transparent {
    .form-group {
      border: none;

      &, .input-tag {
        & > label {
          color: $darkenGray;
          margin-bottom: 1rem;
          display: block;
        }
      }

      .input,
      .textarea {
        border: 1px solid $gray94;
        border-radius: 2px;
        padding: 1.5rem 1rem;
      }
    }
  }

  &.btn-float {
    input[type="submit"] {
      position: fixed;
      top: 1.45rem;
      right: 2rem;
      width: inherit;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .form-group {
    .form-horizontal-layout {
      .form-group {
        padding: 0;
      }
    }
  }

  .form-radio {
    margin: 0;
  }
}
