@import '../../../../styles/color-variables';

.block-miniature {
  .layout-wrapper {
    padding: .7rem;
    border-width: 3px;
    border-color: transparent;

    .lines {
      .line {
        margin-bottom: 5px;
        background-color: $gray94;
        border-radius: 2px;

        &:last-of-type {
          margin: 0;
        }
      }
      .line-lg {
        margin-bottom: 7px;
        height: 42px;
      }
      .line-sm {
        height: 5px;
      }
    }

    &.is-active {
      border-color: $blacker;
      border-width: 3px;

      .lines {
        .line {
          background-color: $darkGray;
        }
      }
    }
  }
}
