.ux--flat-form {
  text-align: left;
  background-color: #fff;
  padding: 2rem 2rem 0;
}

.ux--flat-form .form-group {
  border: none !important;
}

.ux--flat-form .form-group .label {
  color: #aaa;
}

.ux--flat-form .separator {
  display: block;
  width: 500px;
  height: 1px;
  background-color: #eee;
  margin-left: -2rem;
  margin-right: -2rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
