name: Continuous Integration for clients
on:
  push:
    tags:
      - '*'

jobs:
  tests:
    name: Tests for all clients and libs
    uses: ./.github/workflows/tests.yml

  build:
    name: Build clients app
    uses: ./.github/workflows/build-clients.yml
    with:
      environment: production
    secrets:
      DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
      DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      REACT_APP_ENVIRONMENT: production
      REACT_APP_DOMAIN_IMAGINARY: https://imaginary.bonde.org
      REACT_APP_DOMAIN_ACCOUNTS: https://accounts.bonde.org
      REACT_APP_DOMAIN_ADMIN: https://app.bonde.org
      REACT_APP_DOMAIN_ADMIN_CANARY: https://admin-canary.bonde.org
      REACT_APP_DOMAIN_BOT: https://chatbot.bonde.org
      REACT_APP_DOMAIN_BETA: https://beta.bonde.org
      REACT_APP_AWS_BUCKET: bonde-assets
      REACT_APP_LOGIN_URL: https://accounts.bonde.org/login
      REACT_APP_DOMAIN_REDES: https://redes.bonde.org
      REACT_APP_UPLOADS_URL: https://api-rest.bonde.org/uploads
      # Alterar esses valores
      REACT_APP_ZENDESK_ORGANIZATIONS_LAWYER: '360269610652'
      REACT_APP_ZENDESK_ORGANIZATIONS_INDIVIDUAL: '360273031591'
      REACT_APP_ZENDESK_ORGANIZATIONS_THERAPIST: '360282119532'
      REACT_APP_DOMAIN_PUBLIC: bonde.org
      REACT_APP_API_GRAPHQL_SECRET: ${{ secrets.HASURA_SECRET }}
      REACT_APP_DOMAIN_API_ACTIVISTS: https://api-graphql.bonde.org/v1/graphql
      REACT_APP_DOMAIN_API_GRAPHQL: https://api-graphql.bonde.org/v1/graphql
      REACT_APP_DOMAIN_API_REST: https://api-rest.bonde.org
      REACT_APP_PAGARME_KEY: ${{ secrets.PAGARME_KEY }}
      ACTION_SECRET_KEY: ${{ secrets.ACTION_SECRET_KEY }}
      # Alterar o IP no environment production
      AWS_ROUTE_IP: ${{ secrets.AWS_ROUTE_IP }}
      HOTJAR_ID: ${{ secrets.HOTJAR_ID }}
      HOTJAR_SV: ${{ secrets.HOTJAR_SV }}