$fontStack: 'Source Sans Pro', 'Proxima Nova', sans-serif;

@mixin tag() {
  font-weight: bold;
  line-height: 1;
  padding: 7px 21px;
  border-radius: 2px;
  background-color: #ff0099;
  color: #fff;
}

@mixin selectMenuOuter() {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  max-height: calc(100vh - 249px - 10vh);
  position: absolute;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  width: 100%;
}

@mixin selectMenu() {
  max-height: calc(100vh - 249px - 10vh);
  overflow-y: auto;
}

@mixin h1() {
  font-size: 2.25rem;
  font-family: $fontStack;
  font-weight: 300;
}

@mixin closeButtonLine() {
  content: '';
  position: absolute;
  right: 8px;
  top: -3px;
  width: 1px;
  height: 24px;
  background: #979797;
}

@mixin tagDeletableLine($rotate) {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -2px;
  background-color: #a1a1a1;
  width: 1px;
  height: 6px;
  transform: rotate($rotate)
}

@mixin rowActive($zIndex) {
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef;
  margin: -1px 0;
  position: relative;
  z-index: $zIndex;
}

:local {
  .pageMenu {
    min-height: 180px;
    box-sizing: border-box;
    padding: 2rem 3rem 0 7.5rem;

    :global .h1 { @include h1(); }
  }

  .h1 {
    @include h1();
    padding: 1rem 0;
  }

  .title {
    display: flex;
    align-items: center;
    position: relative;

    :global input[type="checkbox"] { margin: 0 1.5rem; }
  }

  .closeButton {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:before {
      @include closeButtonLine();
      transform: rotate(45deg);
    }
    &:after {
      @include closeButtonLine();
      transform: rotate(-45deg);
    }
  }

  .pageContent { padding: 0 3rem 2rem 7.5rem; }

  .contentContainerCenter {
    display: flex;
    justify-content: center;
  }

  .queryForm {
    padding-left: 7.5rem;
    padding-right: 3rem;
    align-items: center;
    min-height: 68px;
    background-color: #eeeeee;
  }

  .formGroup {
    display: flex;
    align-items: center;
  }

  .icon {
    font-size: 25px;
    color: #4a4a4a;
    margin-right: .3rem;
    opacity: .48;
  }

  .select {
    width: 100%;
    position: relative;

    :global .Select-placeholder,
    :global .Select-value {
      bottom: 0;
      color: #333333;
      left: 0;
      line-height: 18px;
      padding: 15px;
      position: absolute;
      right: 0;
      top: 0;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-family: $fontStack;
    }

    :global .Select-placeholder { opacity: .5; }
  }

  .groupTag {
    flex-basis: calc(100% - 220px);

    :global .Select-menu-outer {
      @include selectMenuOuter();
      width: calc(100vw - 240px);
      position: fixed;
      top: 248px;
      left: 180px;
    }

    :global .Select-menu { @include selectMenu(); }
    :global .Select-value-label { @include tag(); }
  }

  .groupDate {
    flex-basis: 220px;

    :global .Select-menu-outer {
      @include selectMenuOuter();
      width: 250px;
      left: -45px;
      top: 47px;
    }

    :global .Select-menu { @include selectMenu(); }

    :global .Select-value:after {
      content: '';
      position: absolute;
      border: 5px solid transparent;
      border-top: 5px solid #4a4a4a;
      right: 0;
      top: 50%;
      margin-top: -2.5px;
    }
  }

  .tags {
    margin: 0;
    padding: 10px 0;
  }

  .tag {
    @include tag();
    list-style: none;
    display: inline-block;
    margin: 5px;
  }

  .tagDeletable {
    @extend .tag;
    font-size: 1rem;
    font-weight: normal;
    background-color: #e6e6e6;
    border: solid 1px #cbcbcb;
    color: #a1a1a1;
    padding: 7px 43px 7px 12px;
    position: relative;

    &:before { @include tagDeletableLine(-45deg) }
    &:after { @include tagDeletableLine(45deg) }
  }

  .tableContainer {
    display: flex;
    justify-content: center;
  }

  .table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 650px;
  }

  .row {
    font-family: $fontStack;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    height: 50px;
    line-height: 18px;
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 1.5rem;
    cursor: pointer;

    &:hover { @include rowActive(1); }

    &.active {
      @include rowActive(2);
      border-left: 3px solid #ff0099;
      padding-left: calc(1.5rem - 3px);
    }

    :global input[type="checkbox"] {
      position: absolute;
      top: 50%;
      margin-top: -11px;
    }

    .cell {
      box-sizing: border-box;
      flex-grow: 1;
      width: 100%;
      overflow: hidden;
      padding: 1rem .5rem;
      width: 100%;
      display: flex;
      align-items: center;
    }

    .cellName {
      margin-left: 36px;
    }

    .cellEmail {
      word-break: break-all;
    }
  }

  .detail {
    width: calc(100vw - 866px - 4rem);
    position: fixed;
    top: 248px;
    right: 3rem;

    :global .h3 {
      font-family: $fontStack;
      font-size: 22px;
      font-weight: bold;
      color: #222222;
      margin: 0 0 2rem;
    }
  }

  .detailContent {
    background-color: #FFFFFF;
    padding: 29px 40px;
    overflow: auto;
    max-height: calc(100vh - 334px);
    box-sizing: border-box;
  }

  .detailGroup {
    margin-bottom: 1.5rem;

    :global label {
      font-family: $fontStack;
      font-size: .75rem;
      font-weight: bold;
      color: #4a4a4a;
      text-transform: uppercase;
    }

    .detailValue {
      font-size: .875rem;
      color: #333333;
    }

    .detailValueList {
      font-size: .875rem;
      color: #333333;
      margin: .7rem 0 0;
      padding: 0;
      font-size: .875rem;
      list-style: none;
    }
  }
}

:global input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  opacity: 0.26;
  border-radius: 4px;
  border: solid 1px #979797;
  position: relative;
  margin: 0;

  &:checked {
    border: none;
    background-color: #FF00A8;
    opacity: 1;

    &:before {content: '';
      width: 4px;
      height: 8px;
      border: solid #FFFFFF;
      border-width: 0 4px 4px 0;
      transform: rotate(45deg);
      position: absolute;
      left: 6px;
      top: 3px;
    }
  }
}
