.pagination {

  .row {
    margin-bottom: 10px;

    &.clickable {
      cursor: pointer;

      &:hover {
        background-color: #c7c7c7;    
      }
    }

    &.active {
      background-color: #c3c3c3;
    }
  }
}
