// Autocomplete
.Select {
  div, input, span {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .Select-control {
    color: #333;
    cursor: default;
    display: table;
    border-spacing: 0;
    border-collapse: separate;
    height: 47px;
    outline: none;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .Select-input {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;

    input {
      height: 45px;
      border: none;
      background: none;
    }
  }

  .Select-option-group-label {
    box-sizing: border-box;
    color: #4a4a4a;
    font-weight: bold;
    cursor: default;
    display: block;
    padding: 10px 20px 10px 30px;
  }

  .Select-option-group-label ~ .Select-option,
  .Select-option-group-label ~ .Select-option-group {
    padding-left: 52px;
  }

  .Select-option {
    box-sizing: border-box;
    background-color: #fff;
    color: #4a4a4a;
    cursor: pointer;
    display: block;
    padding: 10px;
  }
  .Select-option:last-child {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .Select-option.is-selected {
    background-color: #FF0099;
    /* Fallback color for IE 8 */
    background-color: rgba(255, 0, 153, 0.05);
    color: #333;
  }

  .Select-option.is-focused {
    background-color: #FF0099;
    /* Fallback color for IE 8 */
    background-color: rgba(255, 0, 153, 0.05);
    color: #333;
  }

  .Select-option.is-disabled {
    color: #cccccc;
    cursor: default;
  }

  .Select-noresults {
    box-sizing: border-box;
    color: #999999;
    cursor: default;
    display: block;
    padding: 8px 10px;
  }
  .Select-clear-zone {
    display: none;
  }
}

.Action-btn-group {
  position: absolute;
  right: 0;

  button {
    font-weight: bold;
    font-size: 18px;
    color: #ff0099;
    border-radius: 2px;
    background: none;
    border: 1px solid #ff0099;
    padding: 5px 15px;
  }
}
