.armata-header {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Armata', sans-serif;
  }
}

.armata-body {
  font-family: 'Armata', sans-serif;
}

.armata-form {
  label, input {
    font-family: 'Armata', sans-serif;
  }
}
