.dosis-header {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Dosis', sans-serif;
  }
}

.dosis-body {
  font-family: 'Dosis', sans-serif;
}

.dosis-form {
  label, input {
    font-family: 'Dosis', sans-serif;
  }
}
