.droid-sans-header {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Droid Sans', sans-serif;
  }
}

.droid-sans-body {
  font-family: 'Droid Sans', sans-serif;
}

.droid-sans-form {
  label, input {
    font-family: 'Droid Sans', sans-serif;
  }
}
