.fjalla-one-header {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
  }
}

.fjalla-one-body {
  font-family: 'Fjalla One', sans-serif;
}

.fjalla-one-form {
  label, input {
    font-family: 'Fjalla One', sans-serif;
  }
}
