.glegoo-header {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Glegoo', serif;
  }
}

.glegoo-body {
  font-family: 'Glegoo', serif;
}

.glegoo-form {
  label, input {
    font-family: 'Glegoo', serif;
  }
}
