.lato-header {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
  }
}

.lato-body {
  font-family: 'Lato', sans-serif;
}

.lato-form {
  label, input {
    font-family: 'Lato', sans-serif;
  }
}
