.merriweather-header {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', serif;
  }
}

.merriweather-body {
  font-family: 'Merriweather', serif;
}

.merriweather-form {
  label, input {
    font-family: 'Merriweather', serif;
  }
}
