.open-sans-header {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
  }
}

.open-sans-body {
  font-family: 'Open Sans', sans-serif;
}

.open-sans-form {
  label, input {
    font-family: 'Open Sans', sans-serif;
  }
}
