.oswald-header {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
  }
}

.oswald-body {
  font-family: 'Oswald', sans-serif;
}

.oswald-form {
  label, input {
    font-family: 'Oswald', sans-serif;
  }
}
