.ubuntu-header {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
  }
}

.ubuntu-body {
  font-family: 'Ubuntu', sans-serif;
}

.ubuntu-form {
  label, input {
    font-family: 'Ubuntu', sans-serif;
  }
}
